*.DS_Store
*.pyc
.ipynb*
*.xlsx
*.Rhistory
slimin_1.txt
/parflow/working/*
/parflow/sandtank/*.pfb
/parflow/sandtank/*.out.*
/parflow/sandtank/*.pfidb
build/
dist/
*.egg-info*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
